@font-face {
  font-family: "Righteous";
  src: url("fonts/righteous.ttf");
}

@font-face {
  font-family: "Work Sans";
  src: url("fonts/work_sans.ttf");
}

main {
  width: 100%;
}

a:hover > text {
  text-decoration: underline;
}

/*Ensure footer links stay white*/
a > tspan {
  fill: rgb(226, 226, 234);
}

a > tspan:hover {
  text-decoration: underline;
}

/*Hack to fill background of button elements with transparent color to improve clicking*/
.fill-button {
  fill: rgba(0,0,0,0);
}


#billeterie-button:hover,
#billet-4-jours-button:hover,
#faire-un-don-button:hover,
#go-up-button:hover,
#logo-ng:hover,
#logo-cote-ng:hover,
#carte:hover {
  filter: brightness(150%);
}

#twitch-button:hover > rect,
#programmation-button:hover > rect,
#programmation-button-2:hover > rect,
#hebergement-button-2:hover > rect, 
#nous-contacter-button:hover > rect,
#contact-button-2:hover > rect,
#programmation-button-3:hover > rect
{
  fill: hotpink;
  fill-opacity: 20%;
}

#billet-1-jour-button:hover > rect,
#hebergement-button:hover > rect,
#twitch-button-2:hover > rect,
#nous-contacter-button-3:hover > rect {
  fill: darkblue;
  fill-opacity: 20%;
}
